#playField{
    height: 800px;
    width: 600px;
    border:solid 1px black;

// aanvullen met hoogte en breedte
}

img{
    position: absolute;
}
#target {
    position: absolute;
}
.hidden{
    display: none;
}