body{
    background-color: slategray;
    width: 95%;
    margin: 0 auto;

}
header{
    background-repeat: no-repeat;
    background-image: url("../Images/HeaderSpotify.png");
    padding-bottom: 100px;
    height: 100px;
    background-size: cover;
}


h1{
    font-size: 3em;

}
section,aside{
    background-color: lightslategrey;
    border: 3px solid palegreen;

}

h2{
    color: lightgreen;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
    gap: 10px 10px;
    margin-top: 10px;
}
.container .block{
    padding:20px;
    color: black;
    font-size: 1em;
    font-weight:bold;
    text-align:center;
}
.block.block2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.block.block3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.block.block1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.overmij img{
    width: 80px;
    height: 80px;

}
div:last-of-type{
    border: 3px solid lightgreen;
    margin-top: 10px;
}
.overmij{
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    border: 0 solid black;
}
nav{
    border: 3px solid lightgreen;
    padding: 20px;
    margin-bottom: 30px;
    display: block;
    font-size: 2em;
}

nav a{
    background-color: grey;
    color: white;
    margin-left: 40px;
}
nav a:visited{
    color: white;
}
@media screen and (min-width: 1020px){
    .container{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block.block1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}