p{
    font-size: 1.25em;
}
img {
    margin: 10px;
}
article{
    margin: 10px;
    border: 1px solid black;
    height: 300px;
}
body{
    margin-left: 10px;
    margin-right: 10px;
}

article:nth-child(2n) img{
    float: left;
}
article:nth-child(2n+1) img{
    float: right;
}
