li{
    background-image: url('../../images/Selectievak.png');
    background-size: 15px;
    background-repeat: no-repeat;
    padding-left: 23px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.checked{
    background-image: url('../../images/Selectievak_aangevinkt.png');
    background-size: 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.checklist{
    list-style-type: none;

}