table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table {
    font: normal 12px/150% Times New Roman, Times, serif;
    background: #fff;
    overflow: hidden;
    border: 5px solid #6CCC8C;
}

table td, table th {
    padding: 13px 20px;
}

 table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1F4219), color-stop(1, #88CF90));
    background: -moz-linear-gradient(center top, #1F4219 5%, #88CF90 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F4219', endColorstr='#88CF90');
    background-color: #1F4219;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 3px solid #C6FFC2;
}

 table thead th:first-child {
    border: none;
}

 table tbody td {
    color: #275420;
    border-left: 3px solid #C6FFC2;
    font-size: 13px;
    font-weight: normal;
}

 table tbody .alt td {
    background: #D9F4E0;
    color: #275420;
}

 table tbody td:first-child {
    border-left: none;
}

 tbody tr:last-child td {
    border-bottom: none;
}